html {
    font-size: 62.5%;
}

:root {
    --size1: 3.2rem;
    --size2: 2.4rem;
    --size3: 1.872rem;
    --size4: 1.6rem; /* default size */
    --size5: 1.328rem;
    --size6: 1.2rem;
}

body, p, .submit { font-size: var(--size4); }
h1 { font-size: var(--size1); }
h2 { font-size: var(--size2); }
h3 { font-size: var(--size3); }
.smaller { font-size: var(--size5); }

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p {
    margin: 7px 0px 5px 0px;
}

#townsfolk, .good {
    color: blue;
}
#outsiders {
    color: skyblue;
}
#minions {
    color: orangered;
}
#demon, .evil {
    color: red;
}

select, .radio {
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: var(--size4);
}

.submit {
    color: white;
    background-color: grey;
    border: none;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
}