/** Fonts **/
html {
    /* Set root font size to 62.5% the size of the browser default to make font-size calculations based on rem easier 
        e.g. 16px (default for most browsers) = 10px at 62.5%, making 1.6rem = 16px
        Using em/rem means that this scales depending on the users' browser defaults
    */
    font-size: 62.5%;
}

:root {
    --size1: 3.2rem;
    --size2: 2.4rem;
    --size3: 1.872rem;
    --size4: 1.6rem; /* default size */
    --size5: 1.328rem;
    --size6: 1.2rem;
}

body, p { font-size: var(--size4); }
h1 { font-size: var(--size1); }
h2 { font-size: var(--size2); }
h3 { font-size: var(--size3); }
h4 { font-size: var(--size4); }
h5 { font-size: var(--size5); }
h6 { font-size: var(--size6); }
.smaller { font-size: var(--size5); }

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, p {
    margin: 7px 0px 5px 0px;
}

#townsfolk, .good {
    color: blue;
}
#outsiders {
    color: skyblue;
}
#minions {
    color: orangered;
}
#demon, .evil {
    color: red;
}

select, .radio {
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: var(--size4);
}

.submit {
    color: white;
    background-color: grey;
    border: none;
    padding: 10px;
    margin-top: 10px;
    font-size: var(--size4);
    font-weight: bold;
}